<a href="/{{ post.date|date('Y/m/d') ~ '/' ~ post.slug ~ '.html' }}">{{ post.date|date('Y-m-d') }} - {{ post.title }}</a>
{% if tags %}
    {% for tag in tags %}
        <a href="/tags/{{ tag.slug ~ '.html' }}">{{ tag.name }}</a>
    {% endfor %}
{% endif %}
