<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <title>Calcine - {% block title %}Welcome{% endblock %}</title>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Calcine</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if route == 'index' %}active{% endif %}"><a href="/">Home</a></li>
                    <li class="{% if route == 'tags' %}active{% endif %}"><a href="/tags">Tags</a></li>
                    {# <li class="{% if route == 'about' %}active{% endif %}"><a href="/about">About</a></li> #}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tag <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for tag in tags %}
                            <li><a href="/tags/{{ tag.slug ~ '.html' }}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="blog-header">
            <h1 class="blog-title">{{ title }}</h1>
            <p class="lead blog-description">{{ description }}</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">
                <section class="content">
                    {% block content %}{% endblock %}
                </section>
            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>Lorem ipsum here</p>
                </div>
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                        {% for path, archive in archives %}
                        <li><a href="/{{ path }}">{{ archive.name }}</a></li>
                        {% endfor  %}
                    </ol>
                </div>
            </div>
        </div>

    </div>

    <footer class="blog-footer">
        <p>Prodly powered by <a href="http://calcine.org">Calcine</a> Static Site Generator</p>

        <p>Copyright &copy; 2014 <a href="mailto:{{ user.email }}">{{ user.name }}</a>.</p>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
